body {
    #big-picture {
        margin-top: 161px;

        img {
            width: 100%;
        }

        @media only screen and (max-height: 768px) {
            margin-top: 61px;
        }
    }
}