body {
    background-color: white;
    
    h3 {
        text-transform: uppercase;
        font-family: BrandonGrotesque Bold;
        font-size: 11px;
    }

    #mask {
        position: fixed;
        background-color: white;
        opacity: 0;
        display: none;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        transition-property: opacity 0.4s;
        &.show {
            display: block;
            opacity: 0.5;
        }
    }
}