@font-face {
    font-family: "BrandonGrotesque Bold";
    src: url("../fonts/Brandon_bld.otf"),
         url("../fonts/brandon_bld.woff") format('woff'),
         url("../fonts/brandon_bld.woff2") format('woff2');
};

@font-face {
    font-family: "BrandonGrotesque Regular";
    src: url("../fonts/Brandon_reg.otf"),
        url("../fonts/brandon_reg.woff") format('woff'),
        url("../fonts/brandon_reg.woff2") format('woff2');
};

@font-face {
    font-family: "BrandonGrotesque Black";
    src: url("../fonts/Brandon_blk.otf"),
        url("../fonts/brandon_blk.woff") format('woff'),
        url("../fonts/brandon_blk.woff2") format('woff2');
};

@font-face {
    font-family: "FreightBigLight";
    src: url("../fonts/freightbiglight.ttf") format("truetype"),
        url("../fonts/freightbiglight.woff") format('woff'),
        url("../fonts/freightbiglight.woff2") format('woff2');
};