@font-face {
    font-family: "BrandonGrotesque Bold";
    src: url("../fonts/Brandon_bld.otf");
};

@font-face {
    font-family: "BrandonGrotesque Regular";
    src: url("../fonts/Brandon_reg.otf");
};

@font-face {
    font-family: "BrandonGrotesque Black";
    src: url("../fonts/Brandon_blk.otf");
};

@font-face {
    font-family: "FreightBigLight";
    src: url("../fonts/freightbiglight.ttf") format("truetype");
};