body {
    footer {
        background-color: black;
        margin-top: 88px;
        height: 300px;

        h3 {
            color: white;
            margin-top: 40px;
        }

        a, span {
            color: white;
            font-size: 16px;
            text-decoration: none;
            display: block;
            font-family: "BrandonGrotesque Regular";

            .mail-short {
                display: none;
            }
        }

        a:hover {
            color: white;
            text-decoration: underline;
        }

        @media only screen and (max-width: 768px) {
            a {
                .mail-short {
                    display: inline;
                }

                .mail-long {
                    display: none;
                }
            }
        }
    }
}