header {

    #hero {
        height: 242px;
        background-image: url('../images/hero.png');
        background-position-x: 50%;
        background-position-y: 0;
        background-repeat: no-repeat;
        background-size: 340px;

        transition: background-position 0.3s 0.3s cubic-bezier(.55, 0, .1, 1), height 0.3s 0.3s cubic-bezier(.55, 0, .1, 1);

        img {
            width: 180px;
        }

        div.row > div {
            height: 70px;
            line-height: 70px;
        }

        div#account {
            text-transform: uppercase;
            font-size: 10px;    
            color: $grey;
            cursor: pointer;
            font-family: 'BrandonGrotesque Bold';
            text-align: right;
        }
    }

    &.light {
        #hero {
            background-position-y: -165px;
            height: 60px;
        }
    }

    &.no-border {
        border-bottom: none;
    }

    @media only screen and (max-width : 768px) {
        margin-bottom: 10px;

        #hero {
            background-image: none;
            height: 60px;
        }
    }
}