body {

    #hero.alone {
        padding-top: 16px;

        img {
            width: 179px;
        }
    }

    #legal {
        margin-top: 135px;

        h3 {
            margin-bottom: 15px;
        }

        p {
            font-family: BrandonGrotesque Regular;
            font-size: 14px;
            color: $light-grey;
        }
    }

    @media only screen and (max-width: 768px) {
        #legal {
            margin-top: 35px;
        }
    }
}
