body {
    #nav {
        font-size: 11px;
        padding-top: 52px;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;

        &.light {
            padding-top: 0px;
        }

        a {
            color: $grey;
            font-family: 'BrandonGrotesque Regular';
            &:hover, &.active {
                text-decoration: underline;
                color: black;
                font-family: 'BrandonGrotesque Bold'
            }
        }

        #toggler {
            display: none;
            cursor: pointer;

            h3 {
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 20px;
                img {
                    float: right;
                    width: 20px;
                }
            }

            &.toggled {
                img {
                    transform: rotate(180deg);
                }
            }
        }

        #nav-items {
            padding-bottom: 20px;

            > div {
                overflow: hidden;
            }

            ul {
                text-transform: uppercase;
                font-family: 'BrandonGrotesque Regular';
                list-style: none;
                padding-left: 0px;
                margin-bottom: 0;
                margin-top: 0;
                color: #4b4b4b;
                float: left;
            }
        }

        @media only screen and (max-width: 768px) {
            border-bottom: none;

            #toggler {
                display: block;
            }

            h3 {
                padding-top: 10px;
            }

            #nav-items {
                height: 0px;
                overflow: hidden;
                transition: height 0.3s linear;

                &.show {
                    height: 384px;
                    border-bottom: 1px solid #e5e5e5;
                }

                ul.half {
                    height: 75px;
                }
            }
        }
    }
}