body {
    #search {
        height: 105px;
        box-sizing: border-box;
        padding: 29px 0;
        input {
            height: 46px;
            border: none;
            width: 90%;
            font-size:40px;
            font-family: 'FreightBigLight';
            &:focus {
                border: none;
                outline: none;
            }
            
            &[placeholder] { 
                text-overflow: ellipsis;
            }
        }

        img {
            height: 20px;
            float: right;
            margin-top: 15px;
        }

        @media only screen and (max-width: 768px) {
            padding-bottom: 20px;
            height: 80px;
            input {
                font-size: 25px;
            }
        }
    }
}