body {
    margin-bottom: 190px;

    &.no-footer {
        margin-bottom: 0px;
    }

    #app {
        padding-bottom: 88px;
        background-color: white;
    }

    footer {
        background-color: #0f0f0f;
        height: 190px;

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        h3 {
            color: white;
            margin-top: 40px;
        }

        a, span {
            color: white;
            font-size: 16px;
            text-decoration: none;
            display: block;
            font-family: "BrandonGrotesque Regular";

            .mail-short {
                display: none;
            }
        }

        a {
            display: inline-block;
            border-bottom: 2px solid #0f0f0f;
            margin-bottom: 3px;
            padding-bottom: 2px;
            text-decoration: none !important;
            
            &:hover, &:active {
                color: white;
                border-bottom: 2px solid white;
            }

            &:visited, &:focus {
                color: white;
            }

            
        }

        @media only screen and (max-width: 768px) {
            a {

                border-bottom: 2px solid white;

                .mail-short {
                    display: inline;
                }

                .mail-long {
                    display: none;
                }
            }
        }
    }
}